section {
    z-index: 1;
}
section::after{
    content:'';
    background-image: url(../main/stock_img0.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height : 70vh;
    margin:0 auto;
    opacity: 0.6;
    z-index: -1;
}
#main-intro {
    position: absolute;
    /* width:500px;
    height:400px; */
}
span {
    font-family: 'Quicksand', sans-serif;
    font-size:70px;
}
#font-bhs, #search-button {
    font-family: 'Noto Sans KR', sans-serif;
}

nav {
    width:100%;
}

#textControl {
    font-size:1rem;
    width:auto;
    margin-right: 0;
    text-align: center;
}
.white, .white a {
    color: #fff;
}

.icon-margin {
    margin-right: 15px;
    margin-left: 10px;
}

#loading {
    display: none;
}

.nav-item{
    margin-left:1rem;
}
.nav-item1{
    margin-left:1rem;
}

#carouse-message{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 25px;
}

#carousel{
    width: 100;
}

@media (min-width: 768px) {
    .nav-item1 {
        display: none; /* 데스크탑에서 숨김 */
    }
}

@media (max-width: 767px) {
    .nav-item1 {
        display: block;
    }

    section::after {
        height: 50vh;
    }

    #main-intro {
        position: absolute; 
        text-align: center;
        margin-bottom: 20px;
    }

    span {
        font-size: 50px;
    }

    #textControl {
        margin-bottom: 15px;
    }

    
}

